/* Colores
    primary - #0277bd
    light primary - #58a5f0
    dark primary - #004c8c
    secundary - #4fc2f7
    light secundary - #8bf5ff
    dark secundary - #0092c4
*/

* {
    font-family: "Roboto", sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

img {
    width: 100%;
    max-width: 700px;
}

#testeo{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vertical{
    max-width: 350px;
}

header {
    background-color: #004c8c;
    color: whitesmoke;
    position: fixed;
    top: 0px;
    box-shadow: 0px 0px 8px 0px black;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: gainsboro;
}

#menu {
    background-color: #004c8c;
    display: flex;
    margin-right: 20px;
}

#pw-help {
    display: none;
}

#inicio {
    flex: auto;
    font-size: x-large;
    padding: 15px;
    font-weight: 700;
    text-decoration: none;
    color: gainsboro;
}

#inicio:hover, #inicio:focus {
    color: white;
    font-weight: bold;
}

.hamburger {
    background-color: #004c8c;
    color: gainsboro;
    border: none;
    padding: 15px;
}

.hamburger span {
    font-size: xx-large;
}

.hamburger:hover, .hamburger:focus {
    color: white;
}

nav button {
    background-color: #004c8c;
    color: whitesmoke;
    padding: 22px 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

nav button:hover, nav button:focus {
    background-color: #3b8fc0;
    color: black;
}

#usuarios, #puntos, #ejemplos, #testeo, #herramientas {
    display: none;
}

main {
    background-color: gainsboro;
}

main .container {
    background-color: white;
    padding: 40px 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 5px 0px rgb(161, 161, 161);
}

main article {
    padding: 0px 80px;
    margin-bottom: 20px;
}

main a {
    text-decoration: none;
}

main b, i {
    background-color: rgb(231, 231, 231);
}

article h1 {
    font-size: xx-large;
    margin-bottom: 10px;
    /*margin-top: 40px*/
}

article h2 {
    font-size: x-large;
    margin-bottom: 8px;
}

article h3 {
    font-size: large;
    margin-bottom: 5px;
}

article p {
    margin: 10px 0px;
}

article li {
    margin-bottom: 10px;
}

footer {
    background-color: gainsboro;
}

footer .container {
    font-style: italic;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 3px 0px rgb(161, 161, 161);
}

footer p {
    border-top: 1px groove gainsboro;
    width: 400px;
    margin: 0 auto;
    padding: 40px;
}

@media screen and (max-width: 800px) {
    #menu {
        background-color: #00569c;
        position: fixed;
        top: 65px;
        flex-direction: column;
        box-shadow: 0 1px 3px 1px #004c8c;
    }
    .desplazar {
        left: -300px;
    }
    #menu button {
        padding: 15px;
        width: 275px;
    }
    main {
        margin-top: 65px;
    }
    #botones{
        flex-direction: column;
    }
    form .botones{
        flex-direction: column;
    }
}

@media screen and (min-width:801px){
    footer{
        margin-bottom: 40px;
    }
}

@media screen and (min-width:801px) and (max-width: 1440px) {
    #menu .container {
        display: flex;
        align-items: center;
    }
    .container {
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
    main .container {
        margin: 100px auto;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:801px) and (max-width: 1080px) {
    .container{
        width: 90%;
    }
}

@media screen and (min-width:1081px) and (max-width:1440px){
    .container{
        width: 75%;
    }
}

@media screen and (min-width: 1441px) {
    #menu .container {
        display: flex;
        align-items: center;
        width: 60%;
    }
    main .container {
        margin: 100px auto;
        margin-bottom: 0px;
    }
    .container {
        width: 60%;
        margin: 0 auto;
    }
    .hamburger {
        display: none;
    }
}

#desplegable {
    position: relative;
}

#desplegable [role="menuitem"] {
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px 0 gray;
    width: 150px;
    font-weight: 600;
}

#desplegable [role="menuitem"]:hover, #desplegable [role="menuitem"]:focus {
    background-color: #79adcc
}

#submenu1, #submenu2, #submenu3 {
    position: absolute;
    top: 0;
    left: 150px;
    display: none;
}

form input:not([type="checkbox"], [type="submit"], [type="reset"]) {
    width: 100%;
    padding: 10px;
    font-size: medium;
}

form p{
    margin: 30px 0;
}

form .botones{
    display: flex;
    justify-content: space-evenly;
}

[type="submit"], [type="reset"], #botones button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 20px;
    font-size: medium;
    font-weight: 700;
}

[type="submit"]:hover, [type="reset"]:hover, [type="submit"]:focus, [type="reset"]:focus, #botones button:hover, #botones button:focus {
    background-color: black;
    color: white;
}

img{
    margin: 30px 0;
    box-shadow: 0 0 3px 0 black;
}

#botones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#botones *, .botones *{
    margin-top: 5px;
    margin-bottom: 5px;
}